.todo-list {
  padding: 0 20%;
  flex: 1;
  overflow-y: auto;

  .empty-list {
    display: flex;
    justify-content: center;
  }
}

@media screen and (max-width: 600px) {
  .todo-list {
    padding: 0 5%;
  }
}
