.tag {
  border-radius: 4px;
  font-weight: bold;
  height: 100%;
  border-width: 1px;
  border-style: solid;
  box-sizing: border-box;
  font-size: 12px;
  padding: 0 10px;
  display: flex;
  align-items: center;
  justify-content: center;

  &.tag-default {
    background-color: #80d6ff;
    border-color: #0077c2;
    color: #0077c2;
  }

  &.tag-green {
    background-color: #98ee99;
    border-color: #338a3e;
    color: #338a3e;
  }

  &.tag-pink {
    background-color: #ffb2ff;
    border-color: #b64fc8;
    color: #b64fc8;
  }

  &.tag-orange {
    background-color: #ff9f70;
    border-color: #c33c17;
    color: #c33c17;
  }
}
