.todo-item {
  height: 30px;
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid burlywood;

  .todo-item-value {
    display: flex;
    flex-direction: column;
    flex: 1;

    .todo-item-label {
    }

    .todo-item-date {
      color: gray;
      font-size: 12px;
    }

    .delete-todo-item-button {
      height: 20px;
    }
  }
}
