.todo-item {
  height: 30px;
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: white;
  border-radius: 4px;
  border: 1px solid lightgray;
  margin-bottom: 10px;
  box-sizing: initial !important;

  .todo-item-value {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: hidden;

    .todo-item-date {
      color: #6e6e6e;
      font-size: 12px;
    }
  }

  .todo-item-status {
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
  }

  .finish-todo-item-button {
    margin: 0 10px;
  }

  .finish-todo-item-button,
  .abort-todo-item-button {
    height: 20px;
  }
}
