.add-item {
  display: flex;
  justify-content: center;
  margin: 0 20%;

  .add-item-input {
    margin: 0 10px;
    height: 30px;
    flex: 3;
    text-indent: 10px;
    border-radius: 4px;
    border-style: solid;
  }

  .add-item-button {
    flex: 1;
  }
}

@media screen and (max-width: 600px) {
  .add-item {
    margin: 0 5%;
  }
}
